header{
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

header h1{
    margin: 0;
    font-size: 1.8em;
}

nav{
    display: flex;
    gap: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover{
    color: #00ccff;
}

.container{
    background-color: #00ccff;
    display: flex;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
}

article{
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

article:hover{
    transform: scale(1.05);
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 5px 0;
  }
}
