
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #0077ff, #00ccff, #f01d1d, #00ccff);
    background-size: 400% 400%;
    color: #333;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


header{
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

header h1{
    margin: 0;
    font-size: 1.8em;
}

nav{
    display: flex;
    gap: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

nav a:hover{
    background-color: white;
    color: #00ccff;
}

.container{
    background-color: #2a1283;
    display: flex;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
}

article{
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

h1, h2 {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 5px 0;
  }
}

.habilidades{
    text-align: center;
}
.habilidades ul{
    display: flex;
    justify-content: center;
    gap:30px;
    list-style: none;
    padding: 0;

}

.pulse{
    margin: 0 170px;
    
    animation: pulsar 1.5s infinite alternate;
    color: white;
    font-weight: bold;
}

@keyframes pulsar {
 from{
    transform: scale(1);
    opacity: 0.8;
 } 
 
 to{
    transform: scale(1.2);
    opacity: 1;
 }
}